name: Publish OCI Artifact

on:
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  push:
    branches:
      - main
    tags-ignore:
      # this is handled by release publish trigger
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  oci-artifact:
    name: Publish
    runs-on: ubuntu-latest

    steps:
    - name: Log in to the container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Make tag
      run: |
        [ "${GITHUB_EVENT_NAME}" == 'pull_request' ] && echo "tag=${GITHUB_HEAD_REF##*/}" >> $GITHUB_ENV || true
        [ "${GITHUB_EVENT_NAME}" == 'release' ] && echo "tag=${GITHUB_REF##*/}" >> $GITHUB_ENV || true
        [ "${GITHUB_EVENT_NAME}" == 'push' ] && echo "tag=latest" >> $GITHUB_ENV || true

    - name: Overwrite tag if necessary
      run: |
        [ "${GITHUB_EVENT_NAME}" == 'push' ] && echo "tag=${GITHUB_REF##*/}" >> $GITHUB_ENV || true
      if: github.ref_type == 'tag'

    - name: Checkout
      uses: actions/checkout@v6

    - name: Install Oras
      uses: oras-project/setup-oras@v1

    - name: Publish
      run: |
        tar -czvf release.tar.gz release.yaml

        digest=$(oras push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.tag }} \
            --artifact-type application/vnd.metal-stack.release-vector.v1 \
            release.tar.gz:application/vnd.metal-stack.release-vector.v1.tar+gzip \
            --format go-template \
            --template "{{ .digest }}")

        echo "pushed to ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.tag }} (${digest})"
